body {
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: "Candara";
}

dt {
    font-weight: bold;
}

a {
    margin: 0 auto;
    border-radius: 1rem;
    width: 20vw;
    margin-top: 1.5rem;
    padding: 1rem;
    background-color: aqua;
    text-decoration: none;
    color: #0046ad;
    
}

.navegacao {
    display: flex;
    flex-direction: column;
}